<!DOCTYPE html>
<html>

    <head>
        <title>Game page</title>
        <link rel="stylesheet" href="./stylesheets/gameScreen.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script async src='./javascripts/game.js'></script>
    </head>

    <body onload="makegrid()">

        <h1>This will be a game page</h1>
        <p>Hopefully there'll be a game here soon `23313414</p>
        <h4 id='date'></h4>
        <h4 id='error'></h4>


        <div id='gameboard'>
        </div>

    </body>
</html> 