<!DOCTYPE html>
<html>

    <head>
        <title>Game page</title>
        <link rel="stylesheet" href="./stylesheets/gameScreen.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script async src='./javascripts/game.js'></script>
    </head>

    <body>

        <h1>Battleship</h1>
        <button id="homeButton">Home</button>
        <button id="playButton">Play</button>
        <span id="message"></span>
        <br>

        <div id="gameboard1" class="gameboard"></div>
        <div id="gameboard2" class="gameboard">
            <div id="glass2"></div>
        </div>

    </body>
</html> 