
.gamegrid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    height: 300px;
    width: 300px;
    padding: 2px;
    background-color: black;
}


.box {
    background-color: lightblue;
    border: 1px solid black;
    padding: 4px;
    font-size: 15px;
    text-align: center;
    width: 20px;
    height: 20px;
}

.ship {
    background-color: silver;
}

.box-hit {
    background-color: silver;
}

.box-sunken {
    background-color: red;
}

.box:hover {
    background-color: aqua;
}

.gameboard {
    display: inline-block;
    padding: 10px;
}

#playButton {
    margin-left: 300px;
}

#glass2 {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 2px;
    background: grey;
    opacity: 0.65;
    z-index: 900;
}
